* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Nova Square', sans-serif;
    min-height: 100vh;
    padding: 0;
    flex-wrap: wrap;
}

.header {
    background-color: white;
    padding-left: 20px;
    height: 75px;
}

.my-mini-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    gap: 50px;
    padding: 20px 40px 40px 20px;
}
.nav-liste {
    display: flex;
    justify-content: space-around ;
    gap: 50px;
    list-style: none;
}

li{
    font-weight: 800;
    font-size: 13px;
}

.logo{
    width: 100px;
}

/* fin de mon header */

.corpus {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.first-section { 
    display: flex;
    /* background-image: url("IMAGES/image1.jpeg"); */
    background-size: cover; 
    background-repeat: no-repeat;
    order:1;
}

.p1-1{
color: white;
z-index: 1;
position: absolute;
left: 688px;
margin-top: 526px;
}

.second-section {
    background-color: rgb(172, 243, 158); /*A effacer*/
    display: flex;
    order:2;
}
.third-section {
    order:3;
    background-color: rgb(81, 106, 158); /*A effacer*/
    display: flex;
}
.image1-1 {
    z-index: 0;
    position: relative;
}
.image1-1 img {
    height: 100%;
    width:100%;
    object-fit: cover
}
.image1-2 {
    z-index: 1;
    position: absolute;
    left:580px;
    top:230px;
}
.image1-2 img {
    height: 250px;
}

.image2-1 {
    height: 600px;
    width: 600px;
}
.image3-1 {
    height: 100%;
    width: 100%;
}
.p2-1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}